html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #595959;
  color: rgba(255, 255, 255, 0.87);
}
